table {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    border: 8px solid #102730;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: auto;

}
td {
    position: relative;
    overflow: hidden; 
    width: 50%;
    border: 4px solid #426078;

}

.Card {
    position: relative;
    border: 8px solid #1a3e4d;
    background-color: #b58126;
    max-height:200px;
    overflow:hidden;
    
}